<template>
	<div class="container">
        <section class="hero is-large"  style="
        /*background: url(<?php echo get_theme_file_uri('/images/MainImage.jpg'); ?>) no-repeat fixed;*/
        
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
        back">
          <div class="hero-body">
            <p class="title">
              Boom
            </p>
            <p class="subtitle">
              Primary subtitle
            </p>
          </div>
        </section>

    <div class="columns qlinks has-text-centered">
      <div class="column ql-left">
        Download Resume
      </div>
      <div class="column ql-right">
        View Portfilo
      </div>
    </div>

      </div> <!-- / container -->
</template>

<script>
  

export default {

  name: 'home',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>