<template>
	
		<header id="header">
			<nav id="site-navigation" class="navbar is-primary" role="navigation">asdfasfasdf
				<div class="nav-brand"></div>
				<div class="navbar-menu"></div>
			</nav>
		</header>
		

</template>

<script>
export default {

  name: 'header',
  props: ["headerTitle"],

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>


</style>